[Desktop Entry]
Type=Application
Name=Connectagram
GenericName=Anagram Game
Exec=connectagram
Icon=connectagram
Terminal=false
Categories=Qt;Game;LogicGame;
