[Desktop Entry]
Type=Application
Name=Connectagram
Name[cs]=Connectagram
Name[de]=Connectagram
Name[el]=Connectagram
Name[es_PE]=Connectagram
Name[fr]=Connectagram
Name[hr]=Connectagram
Name[hu]=Connectagram
Name[lt]=Connectagram
Name[nl]=Connectagram
Name[pl]=Connectagram
Name[ro]=Connectagram
Name[ru]=Connectagram
Name[tr]=Connectagram
GenericName=Anagram Game
GenericName[cs]=Hra s přesmyčkami
GenericName[de]=Ein Anagramm-Spiel
GenericName[el]=Aναγραμματισμός παιχνίδι
GenericName[es_PE]=Juego de anagrama
GenericName[fr]=Jeu d'anagrammes
GenericName[hr]=Premetaljka
GenericName[hu]=Anagramma játék
GenericName[lt]=Anagramos žaidimas
GenericName[nl]=Anagram spel
GenericName[pl]=Gra w anagramy
GenericName[ro]=Joc de anagrame
GenericName[ru]=Игра в анаграммы
GenericName[tr]=Anagram Oyunu
Comment=Unscramble words placed in patterns
Comment[cs]=Rozluštěte slova umístěná ve vzorech
Comment[de]=Entschlüsselte Wörter in Mustern anordnen
Comment[el]=Αποκρυπτογραφήσετε λέξεις poz τοποθετήθηκαν σε μοτίβα
Comment[es_PE]=Descrifrar palabras colocadas en patrones
Comment[fr]=Déchiffrage de mots reliés entre eux
Comment[lt]=Iššifruokite šablone išdėstytus žodžius
Comment[nl]=Orden de verhaspelde woorden in patronen
Comment[pl]=Rozszyfrowanie słów umieszczonych w wzorach
Comment[ro]=Ordonaţi cuvinte plasate în tipare
Comment[tr]=Kalıplarda yerleştirilmiş kelimeleri düzenle
Exec=connectagram
Icon=connectagram
Terminal=false
Categories=Qt;Game;LogicGame;
Keywords=game;logic;
